.edit-form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    min-width: 430px;
    background-color: white;
}

@media screen and (max-width: 767px) {
    .edit-form {
        min-width: 282px;
        max-width: 282px;
    }
}

